<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List App</title>
</head>
<body>
    <h1>Tasks</h1>
        {% if todo_list %}
        <ul>
            {% for item in todo_list %}
            <li>
                <a href="{% url 'core:detail' item.pk %}"><strong>{{ item.title }}</strong></a> - Due: {{ item.due_date }} - Finished: {{ item.is_completed }}
                <form action="{% url 'core:delete' item.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="color:red; border:none; background:none; cursor:pointer;">&#10006;</button>
                </form>
            </li>
            {% endfor %}
        {% else %}
            <p>No tasks are available</p>
        {% endif %}
</body>
</html>